{% load gametemplatetags %}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% sstatic "game/magnific-popup/magnific-popup.css" %}"> 
        <link rel="stylesheet" type="text/css" href="{% sstatic "game/css/GeoBattle.css" %}">
        <link rel="stylesheet" type="text/css" href="{% sstatic "game/css/Settings.css" %}">
        <link rel="stylesheet" type="text/css" href="{% sstatic "game/css/Timer.css" %}">
        <link rel="stylesheet" type="text/css" href="{% sstatic "game/css/Team.css" %}">
        
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type="text/javascript" src="{% sstatic "game/jquery/jquery-2.0.3.js" %}"></script>
        <script type="text/javascript" src="{% sstatic "game/jquery/jquery.cookie.js" %}"></script>        
        <script type="text/javascript" src="{% sstatic "game/magnific-popup/jquery.magnific-popup.js" %}"></script> 
        <script type="text/javascript" src="{% sstatic "game/tipsy/tooltipsy.min.js" %}"></script>
        <script type="text/javascript" src="{% sstatic "game/js/Infrastructure.js" %}"></script>
        <script type="text/javascript" src="{% sstatic "game/js/Region.js" %}"></script>
        <script type="text/javascript" src="{% sstatic "game/js/Map.js" %}"></script>
        <script type="text/javascript" src="{% sstatic "game/js/Timer.js" %}"></script>
        <script type="text/javascript" src="{% sstatic "game/js/Team.js" %}"></script>
        <script type="text/javascript" src="{% sstatic "game/js/Game.js" %}"></script>
        <script type="text/javascript" src="{% sstatic "game/js/Settings.js" %}"></script>
        <script type="text/javascript" src="{% sstatic "game/js/GeoBattle.js" %}"></script>	
        
    </head>
    <body id="body">
    	<div id="game-explanation" class="game-explanation mfp-hide">
    		Welcome to Geo Battle!  Fill in "how to play here!"
    	</div>
        <div id="settings" class="settings mfp-hide">
            <div class="settings-section settings-region-selection-wrapper">
                <div id="dd" class="wrapper-dropdown-5" tabindex="1"><span class="settings-region-selection" data-region-selection="world">Select a region</span>
                    <ul class="dropdown">
                        <li><a class="region" href="#" data-region-selection="world">World</a></li>
                        <li><a class="region" href="#" data-region-selection="africa">Africa</a></li>
                        <li><a class="region" href="#" data-region-selection="europe">Europe</a></li>
                        <li><a class="region" href="#" data-region-selection="americas">Americas</a></li>
                        <li><a class="region" href="#" data-region-selection="asia">Asia</a></li>
                        <li><a class="region" href="#" data-region-selection="oceania">Oceania</a></li>
                        <li><a class="region" href="#" data-region-selection="unitedStates">United States</a></li>
                    </ul>
                </div>
            </div>
            <div class="select-time settings-section">
                <label>How long will your game last?</label>
                <div class="select-time-inputs-wrapper">
                    <input class="settings-minutes" name="settings-minutes" type="text" value="5" /> : <input class="settings-seconds" name="settings-seconds" type="text" value="00" />
                </div>
            </div>
            <div class="select-durations settings-section">
                <label for="active-duration">How long should active countries/states appear?</label>
                <br />
                <input class="settings-active-duration" name="settings-active-duration" type="text" value="4" />
                <label>seconds</label>
            </div>

            <div class="select-durations settings-section">
                <label for="active-duration">How long should we break between active countries/states?</label>
                <br />
                <input class="settings-break-duration" name="settings-break-duration" type="text" value="2" />
                <label>seconds</label>
            </div>

            <div class="select-teams settings-section">
                <label for="settings-teams">What teams are playing?</label>
                <br />
                <br />
                <div class="settings-teams-row">
	                <div class="settings-team-wrapper">
	                    <label for="settings-team">Name:</label>
	                    <input class="settings-team" name="settings-team" type="text" value="" />
	                    <label for="settings-team-score">Score:</label>
	                    <input class="settings-team-score" name="settings-team-score" type="text" data-user-input="false" value="" />
	                </div>
	                <div class="settings-team-wrapper">
	                    <label for="settings-team">Name:</label>
	                    <input class="settings-team" name="settings-team" type="text" value="" />
	                    <label for="settings-team-score">Score:</label>
	                    <input class="settings-team-score" name="settings-team-score" type="text" data-user-input="false" value="" />
	                </div>
                </div>
                <div class="settings-teams-row">
	                <div class="settings-team-wrapper">
	                    <label for="settings-team">Name:</label>
	                    <input class="settings-team" name="settings-team" type="text" value="" />
	                    <label for="settings-team-score">Score:</label>
	                    <input class="settings-team-score" name="settings-team-score" type="text" data-user-input="false" value="" />
	                </div>
	                <div class="settings-team-wrapper">
	                    <label for="settings-team">Name:</label>
	                    <input class="settings-team" name="settings-team" type="text" value="" />
	                    <label for="settings-team-score">Score:</label>
	                    <input class="settings-team-score" name="settings-team-score" type="text" data-user-input="false" value="" />
	                </div>
                </div>
                <div class="settings-teams-row">
	                <div class="settings-team-wrapper">
	                    <label for="settings-team">Name:</label>
	                    <input class="settings-team" name="settings-team" type="text" value="" />
	                    <label for="settings-team-score">Score:</label>
	                    <input class="settings-team-score" name="settings-team-score" type="text" data-user-input="false" value="" />
	                </div>
	                <div class="settings-team-wrapper">
	                    <label for="settings-team">Name:</label>
	                    <input class="settings-team" name="settings-team" type="text" value="" />
	                    <label for="settings-team-score">Score:</label>
	                    <input class="settings-team-score" name="settings-team-score" type="text" data-user-input="false" value="" />
	                </div>
                </div>
                <div class="settings-teams-row">
	                <div class="settings-team-wrapper">
	                    <label for="settings-team">Name:</label>
	                    <input class="settings-team" name="settings-team" type="text" value="" />
	                    <label for="settings-team-score">Score:</label>
	                    <input class="settings-team-score" name="settings-team-score" type="text" data-user-input="false" value="" />
	                </div>
	                <div class="settings-team-wrapper">
	                    <label for="settings-team">Name:</label>
	                    <input class="settings-team" name="settings-team" type="text" value="" />
	                    <label for="settings-team-score">Score:</label>
	                    <input class="settings-team-score" name="settings-team-score" type="text" data-user-input="false" value="" />
	                </div>
                </div>
                <div class="settings-teams-row">
	                <div class="settings-team-wrapper">
	                    <label for="settings-team">Name:</label>
	                    <input class="settings-team" name="settings-team" type="text" value="" />
	                    <label for="settings-team-score">Score:</label>
	                    <input class="settings-team-score" name="settings-team-score" type="text" data-user-input="false" value="" />
	                </div>
	                <div class="settings-team-wrapper">
	                    <label for="settings-team">Name:</label>
	                    <input class="settings-team" name="settings-team" type="text" value="" />
	                    <label for="settings-team-score">Score:</label>
	                    <input class="settings-team-score" name="settings-team-score" type="text" data-user-input="false" value="" />
	                </div>
                </div>
            </div>

            <div class="submit-settings">
                <input type="submit" class="submit-settings-button" value="play!">
            </div>
        </div>
        <div class="game">
            <div id="chart_div"></div>
            <div class="teams">
            </div>
            <div class="clock">
                <ul>
                    <li class="min">0</li>
                    <li class="Li1">:</li>
                    <li class="sec">00</li>
                </ul>
                <div class="single-button single-button-left">
                    <input type="submit" class="pause-game" value="Pause game"/>
                </div>
                <div class="single-button single-button-right start-new-game-button">
                    <input type="submit" class="start-or-stop-game" data-value="startNewGame" value="Start a new game"/>
					<a class="history-link hidden" href="javaScript:void(0);"><!-- Filled in Javascript --></a>                    
                </div>
            </div>
        </div>
        <div id="history" class="history mfp-hide">
        	<span class="history-list-title"><!-- Filled in Javascript -->:</span>
        	<div>
        		<ul class="history-list"></ul>
        	</div>
        </div>
    </body>
    
</html>